header.head {
    background-color: #1E1E1E; 
    display: flex; 
    flex-wrap: wrap;
    min-height: 130px;
    max-height: 160px;
}

.head .head-left {
    text-align: center; 
    width: 600px; 
    height: 100%; 
    background-color: #5e992b;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.head .head-left .logo {
    font-family: 'Kavoon', cursive; 
    color: #FFF; 
    font-size: 4rem;
}

.head .head-left .slogan {
    background-color: #FFF;
    color: #1E1E1E;
    height: 60%;
    line-height: 100%;
    padding: 2px 10px 2px 10px;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.2rem;
}

.head .head-right {
    width: 1000px;
}

.head .head-right li {
    display: inline-block;
    border-left: 1px solid #FFF;
    padding: 5px 2% 5px 2%;
}

.head .head-right a {
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
}

.head .head-right a:hover {
    color: #FFF;
    text-decoration: underline;
    font-size: 1.2rem;
}

/* MOBILE */

@media only screen and (max-width: 375px) {
    header.head {
        background-color : #5e992b;
    }

    .head .head-left .logo {
        font-family: 'Kavoon', cursive;
        color: #FFF;
        font-size: 2.3rem;
    }

    .head .head-left .slogan {
        background-color: #FFF;
        color: #1E1E1E;
        height: 60%;
        line-height: 100%;
        margin: 10px;
        padding: 2px 5px 2px 5px;
        border-radius: 10px;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 376px) and (max-width: 425px) {
    header.head {
        background-color : #5e992b;
    }

    .head .head-left .logo {
        font-family: 'Kavoon', cursive;
        color: #FFF;
        font-size: 3rem;
    }

    .head .head-left .slogan {
        background-color: #FFF;
        color: #1E1E1E;
        height: 60%;
        line-height: 100%;
        margin: 10px 10px 0px 10px;
        padding: 2px 5px 2px 5px;
        border-radius: 10px;
        font-size: 1rem;
    }
}


@media only screen and (max-width: 1300px) {

    .head .head-right li {
        border: none;
        display: block;
        padding: 8px;
    }
  
    .menu-items {
      display: none;
      width: 300px;
      height: auto;
      background-color: #1e1e1e;
      color: #FFF;
      top: 130px;
      position: absolute;
      right: 0px;
      z-index: 2;
      border-radius: 0px 0px 0px 10px;
      box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    }
  
    .head-right a {
      color: #000;
      text-decoration: none;
    }
  
    .head-right input[type="checkbox"] {
        display: block;
        height: 32px;
        top: 0px;
        right: 20px;
        position: absolute;
        width: 30px;
        z-index: 5;
        opacity: 0;
   }
  
    .hamburger-lines {
      display: block;
      height: 23px;
      right: 10px;
      width: 35px;
      position: absolute;
      top: 12px;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    .hamburger-lines .line {
      display: block;
      height: 4px;
      width: 100%;
      border-radius: 10px;
      background: #FFF;
    }
  
    .hamburger-lines .line1 {
      transform-origin: 0% 0%;
      transition: transform 0.4s ease-in-out;
    }
  
    .hamburger-lines .line2 {
      transition: transform 0.2s ease-in-out;
    }
  
    .hamburger-lines .line3 {
      transform-origin: 0% 100%;
      transition: transform 0.4s ease-in-out;
    }
  
    input[type="checkbox"]:checked ~ .menu-items {
      transform: translateX(0);
    }
  
    input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
      transform: rotate(35deg);
    }
  
    input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
      transform: scaleY(0);
    }
  
    input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
      transform: rotate(-35deg);
    }
  
    input[type="checkbox"]:checked ~ .menu-items {
      display: block;
    }
        
  }


  /* LAPTOP */
@media only screen and (min-width: 1301px) 
{
  .head-right input[type="checkbox"] {
    display: none;
  }

}
  