    .right {
        width: 650px; 
        text-align: center;
    }

        .right h1 {
            color: #FFF; 
            text-transform: uppercase;
        }

        .right p {
            font-size: 20px;
        }

        .right ul {
            display: flex; 
            flex-wrap: wrap; 
            padding: 0; 
            margin: 10px;
        }

            ul .bc1 {
                border-radius: 4px 0px 0px 4px; 
                width: 33.3%; 
                border-top: 2px solid #5e992b; 
                height: 30px; 
                background-color: #5e992b;
            }

            ul .bc2 {
                width: 33.3%; 
                transition-duration: 1s;
                color: #FFF; 
                line-height: 28px; 
                border-top: 1px solid #5e992b; 
                border-bottom: 1px solid #5e992b; 
                height: 30px;
                cursor: pointer;
            }

            ul .bc2#admin {
                border-radius: 4px 0px 0px 4px; 
                background-color: #df3b3b; 
                border-bottom: 1px solid #df3b3b; 
                border-top: 1px solid #df3b3b;
            }

            ul .bc2:hover {
                width: 33.3%; 
                transition-duration: 1s;
                color: #FFF; 
                line-height: 28px; 
                background-color: #5e992b;
                border-top: 1px solid #5e992b; 
                border-bottom: 1px solid #5e992b; 
                height: 30px;
                cursor: pointer;
            }

            ul .bc3 {
                border-radius: 0px 4px 4px 0px; 
                width: 33.3%; 
                border-top: 2px solid #5e992b; 
                height: 30px; 
                background-color: #5e992b;
            }

section {
    width: 100%;
    background-color: #EEE;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    section .title {
        text-transform: uppercase;
        display: block;
        width: 100%;
        height: 50px;
        background-color: #FFF;
        color: #1E1E1E;
        border-bottom: 1px solid #1E1E1E;
        line-height: 48px;
        font-size: 30px;
        text-align: center;
    }

    section .messagerie {
        margin: 0; 
        width: 800px; 
        height: 300px; 
        background-color: #1E1E1E;
    }

        #scoll {
            overflow-y:scroll; 
            height: 200px;
        }

        .messagerie .contain {
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center; 
            flex-direction: column; 
            align-content: stretch;
            margin-bottom: 40px;
        }

            .contain .msg {
                background-color: #FFF; 
                width: 300px;
                border-radius: 10px; 
                padding: 10px; 
                float: left; 
                margin: 10px;
                max-width: 300px;  
                word-wrap: break-word;
            }

            .contain .answer {
                margin-right: 10px; 
                margin-top: 10px;
                background-color: #5e992b; 
                color: #FFF;;
                border-radius: 10px; 
                padding: 10px;
                max-width: 300px;  
                word-wrap: break-word;
            }

        .messagerie form {
            text-align: left; 
            padding-left: 10px; 
            background-color: #1E1E1E; 
            line-height: 45px; 
            height: 50px;
        }

        .messagerie input[type="text"] {
            width: 80%; 
            height: 30px; 
            border-radius: 4px; 
            border: 1px solid #FFF;
        }

        .messagerie input[type="submit"] {
            cursor: pointer; 
            background-color: #1E1E1E; 
            color: #FFF; 
            border: 1px solid #FFF;
            border-radius: 4px; 
            height: 35px; 
            letter-spacing: 1px;
            width: 15%; 
            font-weight: bold;
        }

    section .contrats {
        margin: 0; 
        width: 800px; 
        height: 300px; 
        background-color: transparent; 
        opacity: 0.7;
    }
        
        section .contrats .bgC {
            background-position: center; 
            width: 100%; 
            height: 300px; 
            background-size: cover; 
            background-image: url(../img/bgA.png);
        }

        section .contrats .title {
            background-color: #1E1E1E;
            border-top: 2px solid #eee;
            color: #FFF;
        }


    section .sinistre {
            margin: 0; 
            width: 800px; 
            height: 300px; 
            background-color: #FFF;
    }

        .sinistre .title {
            background-color: #1E1E1E; 
            color: #FFF; 
            border-top: 2px solid #eee;
        }

        .sinistre form {
            padding: 10px; 
            text-align: center;
        }

        .sinistre input[type="text"] {
            margin-top: 5px; 
            border-radius: 4px; 
            border: 1px solid #1E1E1E; 
            width: 80%; 
            height: 35px;
        }

        .sinistre select {
            margin-top: 5px;
            border-radius: 4px; 
            border: 1px solid #1E1E1E; 
            width: 80%; 
            height: 40px;
        }

        .sinistre textarea {
            margin-top: 5px; 
            resize: none; 
            border: 1px solid #1E1E1E; 
            border-radius: 4px; 
            height: 50px; 
            width: 90%;
        }

        .sinistre input[type="file"] {
            position: absolute;
            display: inline-block;
            left: 0;
            top: 0;
            opacity: 0.01;
            cursor: pointer;
        }

        .sinistre label[for="my-file"] {
            background: #FFF;
            line-height: 34px;
            height: 36px;
            color: #1E1E1E;
            margin-top: 5px;
            float: left;
            width: 81%;
            text-align: center;
            border: 1px solid #1E1E1E;
            cursor: pointer;
            border-radius: 4px;
            font-weight: bold;
            font-size: .9em;
            transition: all .4s;
        }

        .sinistre input[type="submit"] {
            transition-duration: 1s;
            font-weight: regular; 
            cursor: pointer; 
            text-align: center; 
            font-size: 14px;
            border: 1px solid #5e992b; 
            line-height: 32px; 
            letter-spacing: 1px;
            height: 38px; 
            float: left; 
            width: 81%; 
            border-radius: 4px; 
            color: #FFF; 
            background-color: #5e992b;
        }

        .sinistre input[type="submit"]:hover {
            transition-duration: 1s;
            background-color: #1E1E1E;
            border: 1px solid #1E1E1E;
        }

    section .picture {
        margin: 0; 
        width: 800px; 
        height: 300px; 
        background-color: #FFF;
    }

        .picture .title {
            background-color: #1E1E1E; 
            color: #FFF; 
            border-top: 2px solid #eee;
        }

        .picture p {
            margin: auto;
            background-color: #FFF;
            padding: auto;
            color: #000;
            border-radius: 4px;
            text-shadow: 2px 2px 4px #fff;
        }

        .picture .picture_accident {
            width: 100%; 
            background-size: cover; 
            height: 300px; 
            text-align: center;
            background-image: url(../img/picture-accident.png);
        }

    section .my-sinistre {
        margin: 0; 
        width: 800px; 
        overflow-y: scroll;
        height: 300px; 
        background-color: #FFF;
    }

        .my-sinistre .title {
            border-bottom: 2px solid #1E1E1E; 
            background-color: #1E1E1E; 
            color: #FFF; 
            border-top: 2px solid #eee;
        }

        .my-sinistre .malus {
            font-size: 20px; 
            text-align: center;
            width: 40%; 
            background-color: #df3b3b; 
            color: #FFF; 
            line-height: 48px; 
            height: 50px; 
            border-radius: 0px 0px 4px 4px;
        }

        .my-sinistre .bonus {
            font-size: 20px; 
            text-align: center; 
            width: 40%; 
            background-color: #5e992b; 
            color: #FFF; 
            line-height: 48px; 
            height: 50px; 
            border-radius: 0px 0px 4px 4px;
        }

        .my-sinistre .list-sinistre {
            text-shadow: 2px 2px 4px #FFF; 
            color: #1E1E1E; 
            padding: 0px 5px 0px 20px; 
            margin-top: 10px; 
            margin-bottom: 10px; 
            background-color: #EEE; 
            text-underline-offset: 6px;
            word-wrap: break-word;
            width: 90%; 
            line-height: 45px; 
            min-height: 50px; 
            border-radius: 10px;
        }

    section .profil {
        margin: 0; 
        width: 800px; 
        height: 300px; 
        color: #FFF; 
        background-color: #1E1E1E; 
        border-left: 2px solid #eee;
    }

        .profil .title {
            border-bottom: 2px solid #eee; 
            background-color: #FFF; 
            color: #1E1E1E;
        }

        .profil form {
            text-align: left; 
            padding: 50px 0px 0px 80px;
            background-color: #1E1E1E; 
        }

        .profil input[type="text"] {
            width: 40%; 
            height: 30px; 
            border-radius: 4px; 
            margin-top: 5px;
            font-size: 16px;
            border: 1px solid #FFF;
        }

        .profil input[type="tel"] {
            width: 80%; 
            height: 30px; 
            border-radius: 4px; 
            margin-top: 5px;
            font-size: 16px;
            border: 1px solid #FFF;
        }

        .profil input[id="first-name"] {
            width: 80%; 
            font-size: 16px; 
            font-weight: bold; 
            background-color: #eee; 
            color: #1E1E1E;
        }

        .profil input[id="last-name"] {
            width: 80%; 
            font-size: 16px; 
            font-weight: bold; 
            background-color: #eee; 
            color: #1E1E1E;
        }

        .profil input[type="submit"] {
            transition-duration: 1s;
            font-size: 14px; 
            border-radius: 4px;
            cursor: pointer;
            font-weight: lighter; 
            letter-spacing: 1px; 
            width: 80%; 
            height: 36px; 
            background-color: #5e992b; 
            color: #FFF; 
            border: 1px solid #5e992b;
        }


        .profil input[type="submit"]:hover {
            transition-duration: 1s;
            background-color: #1E1E1E;
            border: 1px solid #FFF;
        }








@media only screen and (max-width: 425px) 
{ 
    ul .bc1, .bc3 {
        display: none;
    }

    ul .bc2 {
        width: 80%;
        background-color: #1E1E1E;
    }

    ul .bc2:hover {
        width: 80%;
        background-color: #5e992b;
        border-left: 1px solid #5e992b;
    }

    .messagerie form {
        padding-left: 25px;
    }

    .messagerie input[type="text"] {
        width: 60%;
    }

    .messagerie input[type="submit"] {
        width: 25%;
    }

    .sinistre  {
        font-size: 13px;
    }

        .sinistre .title {
            font-size: 26px;
        }

        .sinistre select {
            width: 100%;
        }

        .sinistre textarea {
            width: 100%;
        }

        .sinistre input[type="submit"] {
            width: 100%;
            letter-spacing: 1px;
            font-size: 13px;
        }

        .sinistre label[for="my-file"] {
            width: 100%;
            font-size: 13px;
            overflow: hidden;
        }

    .picture {
        font-size: 12.8px;
    }

        .picture p {
            margin: auto;
            background-color: #FFF;
            padding: auto;
            color: #000;
            border-radius: 4px;
            text-shadow: 2px 2px 4px #fff;
        }

        .picture .title {
            display: none;
        }

    .my-sinistre .bonus {
        font-size: 15px;
    }

    .my-sinistre .malus {
        font-size: 15px;
    }

    .profil {
        margin: 0;
        width: 800px;
        height: 300px;
        color: #FFF;
        background-color: #1E1E1E;
    }

        .profil form {
            text-align: left;
            padding: 50px 0px 0px 25px;
            background-color: #1E1E1E;
        }

}