@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

* {
    margin: auto;
    padding: auto;
}

body {
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: #FFF;
    color: #1E1E1E;
    font-size: 16px;

}

footer {
    margin-top: 30px; 
    text-align: center; 
    background-color: #1E1E1E; 
    color: #FFF; 
    font-size: 14px;
    line-height: 95px;
}